@tailwind base;

@layer base {
	:root {
		--ant-blue: #1677FF;
		--ant-purple: #722ED1;
		--ant-cyan: #13C2C2;
		--ant-green: #52C41A;
		--ant-magenta: #EB2F96;
		--ant-pink: #EB2F96;
		--ant-red: #F5222D;
		--ant-orange: #FA8C16;
		--ant-yellow: #FADB14;
		--ant-volcano: #FA541C;
		--ant-geekblue: #2F54EB;
		--ant-gold: #FAAD14;
		--ant-lime: #A0D911;

		--ant-blue-1: #e6f4ff;
		--ant-blue-2: #bae0ff;
		--ant-blue-3: #91caff;
		--ant-blue-4: #69b1ff;
		--ant-blue-5: #4096ff;
		--ant-blue-6: #1677ff;
		--ant-blue-7: #0958d9;
		--ant-blue-8: #003eb3;
		--ant-blue-9: #002c8c;
		--ant-blue-10: #001d66;
		--ant-purple-1: #f9f0ff;
		--ant-purple-2: #efdbff;
		--ant-purple-3: #d3adf7;
		--ant-purple-4: #b37feb;
		--ant-purple-5: #9254de;
		--ant-purple-6: #722ed1;
		--ant-purple-7: #531dab;
		--ant-purple-8: #391085;
		--ant-purple-9: #22075e;
		--ant-purple-10: #120338;
		--ant-cyan-1: #e6fffb;
		--ant-cyan-2: #b5f5ec;
		--ant-cyan-3: #87e8de;
		--ant-cyan-4: #5cdbd3;
		--ant-cyan-5: #36cfc9;
		--ant-cyan-6: #13c2c2;
		--ant-cyan-7: #08979c;
		--ant-cyan-8: #006d75;
		--ant-cyan-9: #00474f;
		--ant-cyan-10: #002329;
		--ant-green-1: #f6ffed;
		--ant-green-2: #d9f7be;
		--ant-green-3: #b7eb8f;
		--ant-green-4: #95de64;
		--ant-green-5: #73d13d;
		--ant-green-6: #52c41a;
		--ant-green-7: #389e0d;
		--ant-green-8: #237804;
		--ant-green-9: #135200;
		--ant-green-10: #092b00;
		--ant-magenta-1: #fff0f6;
		--ant-magenta-2: #ffd6e7;
		--ant-magenta-3: #ffadd2;
		--ant-magenta-4: #ff85c0;
		--ant-magenta-5: #f759ab;
		--ant-magenta-6: #eb2f96;
		--ant-magenta-7: #c41d7f;
		--ant-magenta-8: #9e1068;
		--ant-magenta-9: #780650;
		--ant-magenta-10: #520339;
		--ant-pink-1: #fff0f6;
		--ant-pink-2: #ffd6e7;
		--ant-pink-3: #ffadd2;
		--ant-pink-4: #ff85c0;
		--ant-pink-5: #f759ab;
		--ant-pink-6: #eb2f96;
		--ant-pink-7: #c41d7f;
		--ant-pink-8: #9e1068;
		--ant-pink-9: #780650;
		--ant-pink-10: #520339;
		--ant-red-1: #fff1f0;
		--ant-red-2: #ffccc7;
		--ant-red-3: #ffa39e;
		--ant-red-4: #ff7875;
		--ant-red-5: #ff4d4f;
		--ant-red-6: #f5222d;
		--ant-red-7: #cf1322;
		--ant-red-8: #a8071a;
		--ant-red-9: #820014;
		--ant-red-10: #5c0011;
		--ant-orange-1: #fff7e6;
		--ant-orange-2: #ffe7ba;
		--ant-orange-3: #ffd591;
		--ant-orange-4: #ffc069;
		--ant-orange-5: #ffa940;
		--ant-orange-6: #fa8c16;
		--ant-orange-7: #d46b08;
		--ant-orange-8: #ad4e00;
		--ant-orange-9: #873800;
		--ant-orange-10: #612500;
		--ant-yellow-1: #feffe6;
		--ant-yellow-2: #ffffb8;
		--ant-yellow-3: #fffb8f;
		--ant-yellow-4: #fff566;
		--ant-yellow-5: #ffec3d;
		--ant-yellow-6: #fadb14;
		--ant-yellow-7: #d4b106;
		--ant-yellow-8: #ad8b00;
		--ant-yellow-9: #876800;
		--ant-yellow-10: #614700;
		--ant-volcano-1: #fff2e8;
		--ant-volcano-2: #ffd8bf;
		--ant-volcano-3: #ffbb96;
		--ant-volcano-4: #ff9c6e;
		--ant-volcano-5: #ff7a45;
		--ant-volcano-6: #fa541c;
		--ant-volcano-7: #d4380d;
		--ant-volcano-8: #ad2102;
		--ant-volcano-9: #871400;
		--ant-volcano-10: #610b00;
		--ant-geekblue-1: #f0f5ff;
		--ant-geekblue-2: #d6e4ff;
		--ant-geekblue-3: #adc6ff;
		--ant-geekblue-4: #85a5ff;
		--ant-geekblue-5: #597ef7;
		--ant-geekblue-6: #2f54eb;
		--ant-geekblue-7: #1d39c4;
		--ant-geekblue-8: #10239e;
		--ant-geekblue-9: #061178;
		--ant-geekblue-10: #030852;
		--ant-gold-1: #fffbe6;
		--ant-gold-2: #fff1b8;
		--ant-gold-3: #ffe58f;
		--ant-gold-4: #ffd666;
		--ant-gold-5: #ffc53d;
		--ant-gold-6: #faad14;
		--ant-gold-7: #d48806;
		--ant-gold-8: #ad6800;
		--ant-gold-9: #874d00;
		--ant-gold-10: #613400;
		--ant-lime-1: #fcffe6;
		--ant-lime-2: #f4ffb8;
		--ant-lime-3: #eaff8f;
		--ant-lime-4: #d3f261;
		--ant-lime-5: #bae637;
		--ant-lime-6: #a0d911;
		--ant-lime-7: #7cb305;
		--ant-lime-8: #5b8c00;
		--ant-lime-9: #3f6600;
		--ant-lime-10: #254000;
	}

	.dark {
		--ant-blue-1: #111a2c;
		--ant-blue-2: #112545;
		--ant-blue-3: #15325b;
		--ant-blue-4: #15417e;
		--ant-blue-5: #1554ad;
		--ant-blue-6: #1668dc;
		--ant-blue-7: #3c89e8;
		--ant-blue-8: #65a9f3;
		--ant-blue-9: #8dc5f8;
		--ant-blue-10: #b7dcfa;
		--ant-purple-1: #1a1325;
		--ant-purple-2: #24163a;
		--ant-purple-3: #301c4d;
		--ant-purple-4: #3e2069;
		--ant-purple-5: #51258f;
		--ant-purple-6: #642ab5;
		--ant-purple-7: #854eca;
		--ant-purple-8: #ab7ae0;
		--ant-purple-9: #cda8f0;
		--ant-purple-10: #ebd7fa;
		--ant-cyan-1: #112123;
		--ant-cyan-2: #113536;
		--ant-cyan-3: #144848;
		--ant-cyan-4: #146262;
		--ant-cyan-5: #138585;
		--ant-cyan-6: #13a8a8;
		--ant-cyan-7: #33bcb7;
		--ant-cyan-8: #58d1c9;
		--ant-cyan-9: #84e2d8;
		--ant-cyan-10: #b2f1e8;
		--ant-green-1: #162312;
		--ant-green-2: #1d3712;
		--ant-green-3: #274916;
		--ant-green-4: #306317;
		--ant-green-5: #3c8618;
		--ant-green-6: #49aa19;
		--ant-green-7: #6abe39;
		--ant-green-8: #8fd460;
		--ant-green-9: #b2e58b;
		--ant-green-10: #d5f2bb;
		--ant-magenta-1: #291321;
		--ant-magenta-2: #40162f;
		--ant-magenta-3: #551c3b;
		--ant-magenta-4: #75204f;
		--ant-magenta-5: #a02669;
		--ant-magenta-6: #cb2b83;
		--ant-magenta-7: #e0529c;
		--ant-magenta-8: #f37fb7;
		--ant-magenta-9: #f8a8cc;
		--ant-magenta-10: #fad2e3;
		--ant-pink-1: #291321;
		--ant-pink-2: #40162f;
		--ant-pink-3: #551c3b;
		--ant-pink-4: #75204f;
		--ant-pink-5: #a02669;
		--ant-pink-6: #cb2b83;
		--ant-pink-7: #e0529c;
		--ant-pink-8: #f37fb7;
		--ant-pink-9: #f8a8cc;
		--ant-pink-10: #fad2e3;
		--ant-red-1: #2a1215;
		--ant-red-2: #431418;
		--ant-red-3: #58181c;
		--ant-red-4: #791a1f;
		--ant-red-5: #a61d24;
		--ant-red-6: #d32029;
		--ant-red-7: #e84749;
		--ant-red-8: #f37370;
		--ant-red-9: #f89f9a;
		--ant-red-10: #fac8c3;
		--ant-orange-1: #2b1d11;
		--ant-orange-2: #442a11;
		--ant-orange-3: #593815;
		--ant-orange-4: #7c4a15;
		--ant-orange-5: #aa6215;
		--ant-orange-6: #d87a16;
		--ant-orange-7: #e89a3c;
		--ant-orange-8: #f3b765;
		--ant-orange-9: #f8cf8d;
		--ant-orange-10: #fae3b7;
		--ant-yellow-1: #2b2611;
		--ant-yellow-2: #443b11;
		--ant-yellow-3: #595014;
		--ant-yellow-4: #7c6e14;
		--ant-yellow-5: #aa9514;
		--ant-yellow-6: #d8bd14;
		--ant-yellow-7: #e8d639;
		--ant-yellow-8: #f3ea62;
		--ant-yellow-9: #f8f48b;
		--ant-yellow-10: #fafab5;
		--ant-volcano-1: #2b1611;
		--ant-volcano-2: #441d12;
		--ant-volcano-3: #592716;
		--ant-volcano-4: #7c3118;
		--ant-volcano-5: #aa3e19;
		--ant-volcano-6: #d84a1b;
		--ant-volcano-7: #e87040;
		--ant-volcano-8: #f3956a;
		--ant-volcano-9: #f8b692;
		--ant-volcano-10: #fad4bc;
		--ant-geekblue-1: #131629;
		--ant-geekblue-2: #161d40;
		--ant-geekblue-3: #1c2755;
		--ant-geekblue-4: #203175;
		--ant-geekblue-5: #263ea0;
		--ant-geekblue-6: #2b4acb;
		--ant-geekblue-7: #5273e0;
		--ant-geekblue-8: #7f9ef3;
		--ant-geekblue-9: #a8c1f8;
		--ant-geekblue-10: #d2e0fa;
		--ant-gold-1: #2b2111;
		--ant-gold-2: #443111;
		--ant-gold-3: #594214;
		--ant-gold-4: #7c5914;
		--ant-gold-5: #aa7714;
		--ant-gold-6: #d89614;
		--ant-gold-7: #e8b339;
		--ant-gold-8: #f3cc62;
		--ant-gold-9: #f8df8b;
		--ant-gold-10: #faedb5;
		--ant-lime-1: #1f2611;
		--ant-lime-2: #2e3c10;
		--ant-lime-3: #3e4f13;
		--ant-lime-4: #536d13;
		--ant-lime-5: #6f9412;
		--ant-lime-6: #8bbb11;
		--ant-lime-7: #a9d134;
		--ant-lime-8: #c9e75d;
		--ant-lime-9: #e4f88b;
		--ant-lime-10: #f0fab5;
	}
}
