@tailwind base;

@layer base {
	:root {
		--ant-line-width: 1px;
		/*--ant-line-type: solid;*/

		--ant-motion-duration-fast: 0.1s;
		--ant-motion-duration-mid: 0.2s;
		--ant-motion-duration-slow: 0.3s;

		--ant-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
		--ant-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
		--ant-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
		--ant-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
		--ant-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
		--ant-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
		--ant-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		--ant-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
		--ant-border-radius: 6px;
		--ant-size-popup-arrow: 16px;
		--ant-control-height: 32px;
		--ant-z-index-base: 0;
		--ant-z-index-popup-base: 1000;
		--ant-opacity-image: 1;

		--ant-control-height-sm: 24px;
		--ant-control-height-xs: 16px;
		--ant-control-height-lg: 40px;

		--ant-line-width-bold: 2px;
		--ant-border-radius-xs: 2px;
		--ant-border-radius-sm: 4px;
		--ant-border-radius-lg: 8px;
		--ant-border-radius-outer: 4px;

		--ant-opacity-loading: 0.65;
		--ant-link-decoration: none;
		--ant-link-hover-decoration: none;
		--ant-link-focus-decoration: none;
		--ant-control-padding-horizontal: 12px;
		--ant-control-padding-horizontal-sm: 8px;
		--ant-padding-xxs: 4px;
		--ant-padding-xs: 8px;
		--ant-padding-sm: 12px;
		--ant-padding: 16px;
		--ant-padding-md: 20px;
		--ant-padding-lg: 24px;
		--ant-padding-xl: 32px;
		--ant-padding-content-horizontal-lg: 24px;
		--ant-padding-content-vertical-lg: 16px;
		--ant-padding-content-horizontal: 16px;
		--ant-padding-content-vertical: 12px;
		--ant-padding-content-horizontal-sm: 16px;
		--ant-padding-content-vertical-sm: 8px;
		--ant-margin-xxs: 4px;
		--ant-margin-xs: 8px;
		--ant-margin-sm: 12px;
		--ant-margin: 16px;
		--ant-margin-md: 20px;
		--ant-margin-lg: 24px;
		--ant-margin-xl: 32px;
		--ant-margin-xxl: 48px;

		--ant-font-size-icon: 12px;
		--ant-line-width-focus: 3px;
		--ant-control-outline-width: 2px;
		--ant-control-interactive-size: 16px;
	}

}
