@tailwind base;
@tailwind components;

@layer base {
	:root {
		--ant-segmented-track-padding: var(--ant-line-width-bold);
		--ant-segmented-track-bg: var(--ant-color-bg-layout);
		--ant-segmented-item-color: var(--ant-color-text-label);
		--ant-segmented-item-hover-color: var(--ant-color-text);
		--ant-segmented-item-hover-bg: var(--ant-color-fill-secondary);
		--ant-segmented-item-selected-bg: var(--ant-color-bg-elevated);
		--ant-segmented-item-active-bg: var(--ant-color-fill);
		--ant-segmented-item-selected-color: var(--ant-color-text);
	}
}

@layer components {
	.segmented {

		.segmented-group {
			position: relative;
			display: flex;
			align-items: stretch;
			justify-items: flex-start;
			flex-direction: row;
			width: 100%;
		}

		.segmented-item {
			position: relative;
			text-align: center;
			cursor: pointer;
			transition: color var(--ant-motion-duration-mid) var(--ant-motion-ease-in-out);
			border-radius: var(--ant-border-radius-sm);
			transform: translateZ(0);

			&-selected {
				background-color: var(--ant-segmented-item-selected-bg);
				box-shadow: var(--ant-box-shadow-tertiary);
			}

			&-focused {
				outline: var(--ant-line-width-focus) solid var(--ant-color-primary-border);
				outline-offset: 1px;
				transition: outline 0s, outline-offset 0s;
			}

			&-input {
				position: absolute;
				inset-block-start: 0;
				inset-inline-start: 0;
				width: 0;
				height: 0;
				opacity: 0;
				pointer-events: none;
			}

			&::after {
				content: "";
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				top: 0;
				inset-inline-start: 0;
				border-radius: inherit;
				opacity: 0;
				transition: opacity var(--ant-motion-duration-mid);
				pointer-events: none;
			}

			&-label {
				min-height: calc(var(--ant-control-height) * calc(var(--ant-segmented-track-padding) * 2));
				line-height: calc(var(--ant-control-height) * calc(var(--ant-segmented-track-padding) * 2));
				padding: 0 calc(var(--ant-control-padding-horizontal) * var(--ant-line-width));
			}
		}

		.segmented-thumb {
			background-color: var(--ant-segmented-item-selected-bg);
			box-shadow: var(--ant-box-shadow-tertiary);

			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			width: 0;
			height: 100%;
			padding: var(--ant-padding-xxs) 0;
			border-radius: var(--ant-border-radius-sm);
			transition: transform var(--ant-motion-duration-slow) var(--ant-motion-ease-in-out), height var(--ant-motion-duration-slow) var(--ant-motion-ease-in-out);
		}
	}
}
