@tailwind base;
@tailwind components;

@layer base {
	:root {
		--ant-slider-control-size: calc(var(--ant-control-height-lg) / 4);
		--ant-slider-rail-size: 0.25rem;
		--ant-slider-handle-size: calc(var(--ant-control-height-lg) / 4);
		--ant-slider-handle-size-hover: calc(var(--ant-control-height-sm) / 2);
		--ant-slider-dot-size: 0.5rem;
		--ant-slider-handle-line-width: 2px;
		--ant-slider-handle-line-width-hover: 2.5px;
		--ant-slider-rail-bg: var(--ant-color-fill-tertiary);
		--ant-slider-rail-hover-bg: var(--ant-color-fill-secondary);
		--ant-slider-track-bg: var(--ant-color-primary-border);
		--ant-slider-track-hover-bg: var(--ant-color-primary-border-hover);
		--ant-slider-handle-color: var(--ant-color-primary-border);
		--ant-slider-handle-active-color: var(--ant-color-primary);
		--ant-slider-handle-active-outline-color: rgba(22, 119, 255, 0.2);
		--ant-slider-handle-color-disabled: #bfbfbf;
		--ant-slider-dot-border-color: var(--ant-color-border-secondary);
		--ant-slider-dot-active-border-color: var(--ant-color-primary-border);
		--ant-slider-track-bg-disabled: var(--ant-color-bg-container-disabled);
	}
}

@layer components {
	.slider {
		.slider-handle {
			&:hover,
			&:active,
			&:focus {

				&:after {
					transition: outline var(--ant-motion-duration-mid), box-shadow var(--ant-motion-duration-mid);
					box-shadow: 0 0 0 var(--ant-slider-handle-line-width-hover) var(--ant-slider-handle-active-outline-color);
					outline: 6px solid var(--ant-slider-handle-active-outline-color)
				}
			}
		}
	}
}
